In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
import matplotlib.pyplot as plt

In [2]:
avg_10min_data_path = "../data/hiratsuka/avg_10min"
year = 2017

data_path = "{0}/{1}".format(avg_10min_data_path, year)

vel_avg = []
for month in range(7, 8 + 1):
    for day in range(1, 31 + 1):
        file_name = "{0}{1:02d}{2:02d}.csv".format(year, month, day)
        file_dath = "{0}/{1}".format(data_path, file_name)

        data = np.genfromtxt(file_dath, delimiter=",", dtype='float')
        vel_avg.extend(data[:, 1])

data_hiratsuka = pd.DataFrame(columns=["time", "vel"])
data_hiratsuka["time"] = pd.date_range('2017-07-01 00:00:00', periods=8928 ,freq='10min')
data_hiratsuka["vel"] = vel_avg
data_hiratsuka

                    time        vel
0    2017-07-01 00:00:00   9.477233
1    2017-07-01 00:10:00   8.086633
2    2017-07-01 00:20:00   6.797517
3    2017-07-01 00:30:00   8.036333
4    2017-07-01 00:40:00   8.047033
5    2017-07-01 00:50:00   6.125383
6    2017-07-01 01:00:00   7.081250
7    2017-07-01 01:10:00   9.013583
8    2017-07-01 01:20:00   8.669383
9    2017-07-01 01:30:00   7.996767
10   2017-07-01 01:40:00   9.337267
11   2017-07-01 01:50:00  11.255217
12   2017-07-01 02:00:00  10.193050
13   2017-07-01 02:10:00   9.625500
14   2017-07-01 02:20:00  12.295367
15   2017-07-01 02:30:00  10.367767
16   2017-07-01 02:40:00  10.578283
17   2017-07-01 02:50:00  13.318267
18   2017-07-01 03:00:00  13.940917
19   2017-07-01 03:10:00  13.966417
20   2017-07-01 03:20:00  13.392317
21   2017-07-01 03:30:00  13.475800
22   2017-07-01 03:40:00  12.822450
23   2017-07-01 03:50:00  11.695383
24   2017-07-01 04:00:00  10.515817
25   2017-07-01 04:10:00   9.006367
26   2017-07-01 04:20:00   9.058133
27   2017-07-01 04:30:00  11.025533
28   2017-07-01 04:40:00  11.432300
29   2017-07-01 04:50:00  11.392833
...                  ...        ...
8898 2017-08-31 19:00:00  11.498950
8899 2017-08-31 19:10:00  11.079300
8900 2017-08-31 19:20:00  11.189917
8901 2017-08-31 19:30:00  11.910683
8902 2017-08-31 19:40:00  11.410383
8903 2017-08-31 19:50:00  11.581200
8904 2017-08-31 20:00:00  11.397450
8905 2017-08-31 20:10:00  11.122850
8906 2017-08-31 20:20:00  10.517850
8907 2017-08-31 20:30:00   9.565617
8908 2017-08-31 20:40:00  11.524583
8909 2017-08-31 20:50:00  11.339117
8910 2017-08-31 21:00:00  11.882317
8911 2017-08-31 21:10:00  12.341333
8912 2017-08-31 21:20:00  12.525283
8913 2017-08-31 21:30:00  11.951017
8914 2017-08-31 21:40:00  11.224483
8915 2017-08-31 21:50:00  11.243950
8916 2017-08-31 22:00:00  11.047167
8917 2017-08-31 22:10:00  10.941650
8918 2017-08-31 22:20:00  11.254500
8919 2017-08-31 22:30:00  10.787983
8920 2017-08-31 22:40:00  11.330400
8921 2017-08-31 22:50:00  10.918900
8922 2017-08-31 23:00:00  10.572050
8923 2017-08-31 23:10:00  10.215200
8924 2017-08-31 23:20:00  10.615767
8925 2017-08-31 23:30:00   9.498033
8926 2017-08-31 23:40:00   9.703267
8927 2017-08-31 23:50:00   9.668750

[8928 rows x 2 columns]

In [3]:
def get_vel_data(year, lon, lat):
    csv_dir_path="../data/csv"
    file_path="{0}/{1}/{2}".format(csv_dir_path, lon, lat)

    ugrd_file_name="{0}/{1}_{2}_UGRD_{3}.csv".format(file_path, lon, lat, year)
    vgrd_file_name="{0}/{1}_{2}_VGRD_{3}.csv".format(file_path, lon, lat, year)

    ugrd_data = np.genfromtxt(ugrd_file_name, delimiter=",", dtype='float')
    vgrd_data = np.genfromtxt(vgrd_file_name, delimiter=",", dtype='float')

    return (ugrd_data[:,1]**2 + vgrd_data[:, 1]**2)**0.5

year = 2017
lons=["139.3125", "139.3750"]
lats=["35.30", "35.35"]

data_msm = pd.DataFrame(columns=["time"])
data_msm["time"] = pd.date_range('2017-07-01 9:00:00', periods=1488, freq='H')

i = 0
for lon in lons:
    for lat in lats:
        i = i + 1
        data_msm["vel_{0}".format(i)] = get_vel_data(year, lon, lat)

data_msm

                    time     vel_1     vel_2     vel_3     vel_4
0    2017-07-01 09:00:00  2.676430  1.932353  3.030541  2.239878
1    2017-07-01 10:00:00  2.306810  1.672683  2.259050  1.604849
2    2017-07-01 11:00:00  1.817453  1.191578  1.932844  1.224083
3    2017-07-01 12:00:00  2.070287  1.613360  1.995605  1.558370
4    2017-07-01 13:00:00  2.113657  1.898450  2.035530  1.738829
5    2017-07-01 14:00:00  1.762252  1.499846  1.894849  1.039611
6    2017-07-01 15:00:00  3.743077  2.971264  3.995252  3.140068
7    2017-07-01 16:00:00  3.537955  2.162221  3.239197  1.891215
8    2017-07-01 17:00:00  1.579353  0.735356  1.685615  0.730604
9    2017-07-01 18:00:00  1.936639  1.511702  1.847129  1.351280
10   2017-07-01 19:00:00  2.235101  1.454715  2.625175  1.612647
11   2017-07-01 20:00:00  2.354921  1.476299  2.818512  1.659677
12   2017-07-01 21:00:00  2.618217  2.016572  2.960576  2.159778
13   2017-07-01 22:00:00  3.041726  1.559559  3.665361  2.023449
14   2017-07-01 23:00:00  3.956949  1.613836  4.852422  2.096379
15   2017-07-02 00:00:00  3.699014  2.200675  4.439350  2.571713
16   2017-07-02 01:00:00  3.746244  1.796315  4.702199  2.366048
17   2017-07-02 02:00:00  4.346914  1.869770  5.556908  2.543490
18   2017-07-02 03:00:00  1.469563  0.732610  1.911258  0.577750
19   2017-07-02 04:00:00  2.023541  0.764984  2.354520  0.825672
20   2017-07-02 05:00:00  1.059602  0.833802  1.131162  0.762434
21   2017-07-02 06:00:00  1.576294  1.568647  1.434162  1.440808
22   2017-07-02 07:00:00  1.965715  1.035998  2.324458  1.179112
23   2017-07-02 08:00:00  1.266643  1.041559  1.492164  1.010279
24   2017-07-02 09:00:00  0.895470  0.690623  0.810785  0.687043
25   2017-07-02 10:00:00  1.691251  1.023872  2.010312  1.055799
26   2017-07-02 11:00:00  1.256005  0.970822  1.792457  1.298862
27   2017-07-02 12:00:00  2.149924  1.574236  2.180454  1.501650
28   2017-07-02 13:00:00  2.743264  1.977194  3.212078  2.193210
29   2017-07-02 14:00:00  1.983075  2.000597  2.856251  2.275570
...                  ...       ...       ...       ...       ...
1458 2017-08-31 03:00:00  4.110830  2.849371  4.466439  3.034415
1459 2017-08-31 04:00:00  4.563443  3.077638  4.937199  3.056629
1460 2017-08-31 05:00:00  4.671005  3.236549  5.037545  3.235268
1461 2017-08-31 06:00:00  5.286141  3.893291  5.945081  4.232166
1462 2017-08-31 07:00:00  5.924588  4.278467  6.445349  4.225325
1463 2017-08-31 08:00:00  5.612690  3.985254  6.023710  3.814198
1464 2017-08-31 09:00:00  6.411604  4.559640  6.611716  4.588517
1465 2017-08-31 10:00:00  6.507247  4.582625  7.524242  4.752902
1466 2017-08-31 11:00:00  7.589839  5.237584  8.651540  5.453472
1467 2017-08-31 12:00:00  7.177903  5.313963  7.723469  5.488344
1468 2017-08-31 13:00:00  6.677341  4.898669  7.497644  4.965861
1469 2017-08-31 14:00:00  6.917184  5.036557  7.807484  5.180634
1470 2017-08-31 15:00:00  6.569935  5.066946  7.019920  5.190787
1471 2017-08-31 16:00:00  7.176593  5.281794  7.878981  5.291160
1472 2017-08-31 17:00:00  7.085835  5.098375  7.816400  5.141092
1473 2017-08-31 18:00:00  6.862819  5.262008  7.283839  5.315246
1474 2017-08-31 19:00:00  6.609826  4.776396  7.428605  4.901301
1475 2017-08-31 20:00:00  6.558780  4.782293  7.450701  4.938013
1476 2017-08-31 21:00:00  6.582218  5.037958  7.189457  5.268218
1477 2017-08-31 22:00:00  5.955585  4.220927  6.685840  4.381542
1478 2017-08-31 23:00:00  5.672616  3.874304  6.438942  4.094358
1479 2017-09-01 00:00:00  5.777627  4.183402  6.326118  4.342002
1480 2017-09-01 01:00:00  5.209926  3.538538  5.845216  3.533336
1481 2017-09-01 02:00:00  5.212971  3.389068  6.072433  3.744870
1482 2017-09-01 03:00:00  5.171364  3.717532  5.527832  3.751016
1483 2017-09-01 04:00:00  4.648666  3.131688  5.330578  3.272417
1484 2017-09-01 05:00:00  4.903387  3.292952  5.408035  3.368808
1485 2017-09-01 06:00:00  6.157073  4.466285  6.566947  4.505995
1486 2017-09-01 07:00:00  6.144478  4.551955  6.755607  4.605314
1487 2017-09-01 08:00:00  5.963449  4.658203  6.494367  4.673890

[1488 rows x 5 columns]

In [17]:
def plot_wind(start, end):
    
    fig = plt.figure(figsize=(18, 12), dpi=100)
    ax1 = fig.add_subplot(2,1,1)

    data_1 = data_hiratsuka.query('time >= \"{0}\" & time < \"{1}\"'.format(start, end))
    data_2 = data_msm.query('time >= \"{0}\" & time < \"{1}\"'.format(start, end))

    ax1.plot(data_1["time"], data_1["vel"], label = "Hiratsuka")
    for i in range(0, 4):
        ax1.plot(data_2["time"], data_2["vel_{0}".format(i + 1)], label = "MSM {0}".format(i))

    plt.legend()
#     plt.show()
    png_name = "images/wind_vel/wind_vel_{0}_{1}.png".format(start.strftime("%Y%m%d"), end.strftime("%Y%m%d"))
    plt.savefig(png_name)

In [18]:
delta = 3
start = datetime(2017,7,1,0,0,0)
end = start + timedelta(days=delta)

while end < datetime(2017,9,1,0,0,0):
    plot_wind(start, end)
    start = start + timedelta(days=delta)
    end = start + timedelta(days=delta)

/Users/keita_kuki/.pyenv/versions/anaconda3-4.4.0/envs/keras/lib/python3.6/site-packages/matplotlib/pyplot.py:524: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)